<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8">
    <title> dischi VUE API</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- VUE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script> <!-- AJAX -->
</head>

<body>
    
    <div id="app">
        <header >
            <h1>choose your style</h1>
            <select name="genre" v-model="type">
                <option value="">All</option>
                <option value="Rock">Rock</option>
                <option value="Pop">Pop</option>
                <option value="Jazz">Jazz</option>
                <option value="Metal">Metal</option>
            </select>
        </header>
    
        <main>  
                <!-- create single container for each album -->
                <div 
                    class="container"
                    v-for="album in albums" 
                    v-if="album.genre.includes(type)"
                >
                <div class="poster">
                    <img :src="album.poster" alt="poster">
                </div>
                <div class="title">
                    {{album.title}}
                </div>
                <div class="author">
                    {{album.author}}
                </div>
                <div class="year">
                    {{album.year}}
                </div>
            </div>
        </main>
    </div>
</body>
<script src="js/script.js" charset="utf-8"></script>

</html>